* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}
.container {
  width: 100%;
  overflow: hidden;
  margin: 0;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  height: 190px;
  background-color: black;
}
#header .logo {
  float: left;
  font-size: 24px;
  font-weight: bold;
  margin-left: 25px;
}
.logo img {
  height: 110px;
  width: 430px;
}
.nav-links {
  float: right;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-right: 30px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  list-style: none;
}
ul li a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s;
}
ul li a:hover {
  color: red;
  text-decoration: underline;
  border-radius: 4px;
}
#header .btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
